# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/
cypress/results/
cypress-reports-junit-results*.xml
mochawesome-report/
mochawesome.json
mochawesome.html

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Docker
*.pid
*.seed
*.bak
docker-compose.override.yml

# VSCode
.vscode/

# Coverage (se usar futuramente)
coverage/
.nyc_output/
.cache/
# Build artifacts
dist/
build/

reports/html/
reports/junit/

# Cypress reports
cypress/reports/html/
cypress/reports/junit/

